<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>AOS_Build_Web_Git</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>/GitRepo/AOS</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/Web_Workspace</customWorkspace>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean install -P development</targets>
      <mavenName>mvn</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>[ ! -d &quot;$WORKSPACE/../../Staging_Area/packed_wars&quot; ] &amp;&amp; mkdir -p $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/accountservice/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/catalog/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/mastercredit/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/order/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/root/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/safepay/target/*.war $WORKSPACE/../../Staging_Area/packed_wars
cp $WORKSPACE/shipex/target/*.war $WORKSPACE/../../Staging_Area/packed_wars</command>
    </hudson.tasks.Shell>
    <com.hp.alm.ali.hudson.ac.AliSourceAnalyzer plugin="ali-jenkins-plugin@2.32-495.0">
      <excludes></excludes>
      <logLevel>INFO</logLevel>
      <canFailBuild>true</canFailBuild>
    </com.hp.alm.ali.hudson.ac.AliSourceAnalyzer>
  </builders>
  <publishers>
    <com.hp.alm.ali.hudson.BuildRecorder plugin="ali-jenkins-plugin@2.32-495.0">
      <testSourceMapping></testSourceMapping>
      <testSourceDirs>**/src/test/java</testSourceDirs>
      <almLocation></almLocation>
      <almDomain></almDomain>
      <almProject></almProject>
      <almUsername></almUsername>
      <almPassword></almPassword>
      <almBuildServer></almBuildServer>
      <settings>
        <entry>
          <string>ncover_config</string>
          <string></string>
        </entry>
      </settings>
      <logLevel>INFO</logLevel>
      <canFailBuild>true</canFailBuild>
    </com.hp.alm.ali.hudson.BuildRecorder>
    <com.hp.alm.ali.hudson.DelayedUpstreamPush plugin="ali-jenkins-plugin@2.32-495.0">
      <logLevel>ALL</logLevel>
      <canFailBuild>false</canFailBuild>
    </com.hp.alm.ali.hudson.DelayedUpstreamPush>
  </publishers>
  <buildWrappers/>
</project>